---
import { Code } from "astro/components"

import { CopyButton } from "@/components/copy-button"

interface Props {
  lang?: "tsx" | "vue"
  src: string
  hidden?: boolean
}

const { src, lang, hidden } = Astro.props
const html = Astro.slots.render("default")
---

<div class="code-wrapper relative" hidden={hidden}>
  {
    lang && src ? (
      <Code lang={lang} wrap={false} theme="vesper" code={src} />
    ) : (
      <Fragment set:html={html} />
    )
  }
  <CopyButton client:visible className="absolute top-4 right-4" value={src} />
</div>
