---
import { Code } from "astro/components"

import { CopyButton } from "@/components/copy-button"

interface Props {
  lang?: "tsx"
  src: string
}

const { src, lang } = Astro.props
const html = Astro.slots.render("default")
---

<div class="code-wrapper relative">
  {
    lang && src ? (
      <Code lang={lang} wrap={false} theme="vesper" code={src} />
    ) : (
      <Fragment set:html={html} />
    )
  }
  <CopyButton client:visible className="absolute top-4 right-4" value={src} />
</div>
