---
import Code from "@/components/code.astro";
import { getComponentSource } from "@/lib/source";
import { uiLibraries } from "@/store/atoms/framework";

export interface Props {
  component: string;
}
const { component } = Astro.props;

const frameworkSources = await Promise.all(
  uiLibraries.map((uiLibrary) => getComponentSource(uiLibrary, component))
);
---

{
  uiLibraries.map((uiLibrary, index) => (
    <div data-framework={uiLibrary}>
      {frameworkSources?.[index]?.length ? (
        frameworkSources?.[index]?.map((src) => (
          <div data-framework={uiLibrary}>
            {typeof frameworkSources?.[index]?.length === "number" &&
            frameworkSources?.[index]?.length > 1 ? (
              <p class="mb-2">{src.filename}</p>
            ) : null}
            <Code className="mt-0" lang={src.lang} src={src.source} collapsible />
          </div>
        ))
      ) : (
        <Code src={"Not Found"} />
      )}
    </div>
  ))
}
