---
import { getCollection, render } from "astro:content"
import type { GetStaticPaths } from "astro"
import { ChevronRightIcon } from "lucide-react"

import { MDXComponents } from "@/components/content"
import { TableOfContent } from "@/components/table-of-content"
import Layout from "@/layouts/layout.astro"
import { cn } from "@/lib/utils"

import Sidebar from "@/components/sidebar.astro"
import "@/styles/mdx.css"

export const getStaticPaths = (async () => {
  const collectionNames = ["overview", "components"] as const
  const collections = await Promise.all(
    collectionNames.map((collection) => getCollection(collection))
  )
  return collections.flat(1).map((entry) => ({
    params: { slug: entry.id },
    props: { entry },
  }))
}) satisfies GetStaticPaths

const { entry } = Astro.props
const { Content, headings } = await render(entry)
---

<Layout>
  <div
    class="container md:grid md:grid-cols-[220px_minmax(0,1fr)] md:gap-6 lg:grid-cols-[240px_minmax(0,1fr)] lg:gap-10"
  >
    <aside
      class="fixed top-14 z-30 -ml-2 hidden h-[calc(100vh-3.5rem)] w-full shrink-0 md:sticky md:block"
    >
      <div class="relative h-full py-6 pr-6 overflow-y-auto lg:py-8">
        <div class="w-full">
          <Sidebar />
        </div>
      </div>
    </aside>
    <main
      class="relative py-6 lg:gap-10 lg:py-8 xl:grid xl:grid-cols-[1fr_300px]"
    >
      <div class="w-full min-w-0 mx-auto">
        <div
          class="flex items-center mb-4 space-x-1 text-sm leading-none text-muted-foreground"
        >
          <div class="truncate">Docs</div>
          <ChevronRightIcon className="h-3.5 w-3.5" />
          <div class="text-foreground">{entry.data.title}</div>
        </div>
        <div class="space-y-2">
          <h1 class={cn("scroll-m-20 text-3xl font-bold tracking-tight")}>
            {entry.data.title}
          </h1>
          {
            entry.data.description && (
              <p class="text-base text-muted-foreground">
                {entry.data.description}
              </p>
            )
          }
        </div>
        <article class="pt-8 pb-12" id="content-container">
          <Content components={MDXComponents} />
        </article>
      </div>
      <div class="hidden text-sm xl:block">
        <div class="sticky top-16 -mt-10 h-[calc(100vh-3.5rem)] py-12">
          <TableOfContent headings={headings} client:load />
        </div>
      </div>
    </main>
  </div>
</Layout>

<script>
  import { $framework } from "@/store/atoms/framework";

  let unsubscribe: () => void;

  document.addEventListener("astro:page-load", () => {
    if (typeof unsubscribe === "function") {
      unsubscribe();
    }

    unsubscribe = $framework.subscribe((value) => {
      const previewReact = document.querySelectorAll(
        `[data-framework="react"]`
      );
      const previewVue = document.querySelectorAll(`[data-framework="vue"]`);
      previewReact.forEach((el) => {
        // @ts-ignore
        el.hidden = value !== "react";
      });
      previewVue.forEach((el) => {
        // @ts-ignore
        el.hidden = value !== "vue";
      });
    });
  });
</script>
